/*
INFO: 
  project: adPreviewMobile
  browsers: only mobile browsers
  width: min 320px(iphone5 vertical)
  columns: 1
  markup: 
  use: 
  desc: simply adpreview
  version 1
*/  

/********************************************************************************************** COMMON_STYLES */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img{ 
  border: none;
  margin: 0; 
  outline: none;  
  padding: 0;
  overflow: hidden;
}

html{
  height:100%;  
}

body{ 
  height:100%;  
  margin: 0 auto;
} 

ul{
  list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
  resize: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  zoom:1;
}

.clear{
  clear: both;
} 
  
.hide{
  display: none;
}

input::-webkit-input-placeholder {
  color: #0096ef;
}

input:-moz-placeholder {
  color: #0096ef;
}

/********************************************************************************************* GLOBAL_layout */

/********************************************************************************************* header */
/* 667 horiz iphone6 */  
.header{
  background: #2c9ed5;
  border-bottom: 1px solid #fff;
  position: relative;  
  overflow: hidden;
}

  .logo_area{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 138px;
    height: 56px;
    overflow: hidden;
  }

    .logo{
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      width: 119px;     
    }

  .day_news_area{
    margin-left: 138px;
    border-left: 1px solid #9fd4ed;
    height: 56px;
    display: block;
    overflow: hidden;

    text-decoration: none;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;   
    text-align: center;   
    line-height: 56px;
  }

    .day_news_label{
      padding: 0px 5px 0;

    }

/* 568 horiz iphone5 */    
@media (max-width: 568px) {
  .logo_area{
    width: 100px;
    height: 41px;
  }

  .logo{
    width: 87px;     
  }

  .day_news_area{
    margin-left: 100px;
    height: 41px;

    font-size: 14px;    
    line-height: 41px;
  }

}

/* 375 vert iphone6 */    
@media (max-width: 375px) {
  .logo_area{
    width: 117px;
    height: 47px;
  }

  .logo{
    width: 100px;     
  }

  .day_news_area{
    margin-left: 117px;
    height: 47px;

    font-size: 16px;    
    line-height: 47px;
  }

}

/* 320 vert iphone5 */    
@media (max-width: 320px) {
  .logo{
    width: 101px;     
  }
}

/********************************************************************************************* news_main */
.news_main{
  position: relative;
  background: #3fae49;
}

  .teaser_area{
    padding: 16px 144px 0 16px;  
    position: relative;
    z-index: 100;  

    color: #fff;
    font-family: 'PT Sans', sans-serif;        }

    .teaser_area .title{
      font-weight: bold;
      font-size: 22px;  

      margin-bottom: 8px;
    }

    .teaser_area .short_text{
      font-weight: normal;
      line-height: 18px;

      margin-bottom: 19px;
    }

    .teaser_area .more_button:after{
      position: absolute;
      z-index: 100;
      right: -8px;
      top: 0px;
      width: 16px;
      height: 42px;
      background: red;

      content: '111';
    }

    .teaser_area .more_button{
      background: #fff;
      margin-bottom: 16px;
      height: 42px;
      position: relative;

      color: #3fae49;
      line-height: 42px;
      font-size: 15px; 
      text-align: center;
    }

  .teaser_img_area{
    width: 144px;
    min-height: 170px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    overflow: hidden;

  }      
